  <div class="container text-center" >
      <p>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">			<%= "Upload Photo"%>
		</button>
      </p>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog text-left">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Photo</h4>
        </div>
        <div class="modal-body">
  		<%= form_for @photo, :url => photos_path do |f| %>

  		  <p>
  		    <%= f.label :content %>
  		   </p>
  		    <%= f.text_area(:content, size: '50x10') %>
  		  <p>
  		    <%= f.label :image %>
  		    <%= f.file_field :image %>
  		  </p>
  		
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <% @photos.each do |photo| %>

      <%= link_to image_tag(photo.image.url(:medium)),photo.image.url, :target => "_blank"  %>
      
      <p><%= photo.content %></p>

			
		  <% like = photo.find_like_by_user(current_user) %>

      <div id="photo-like-<%= photo.id %>">
      <%= render :partial => "likes/show", :locals => { :photo => photo, :like => like } %>
      </div>

<!--         <%#if photo.can_edit_by_user?(current_user) %>
          Delete Photo
        <%#end %> -->
      <hr>
    <% end %>
  </div>
</div>
 