<!DOCTYPE html>
<html>
<head>

  <title>SocialAlbum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
           
              <% if current_user %>Hi, <%= user.username %> 
            <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %> |</li>
            <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
              <% else %>
            <li><%= link_to('註冊', new_registration_path(:user)) %> </li>
            <li><%= link_to('登入', new_session_path(:user)) %></li>
              <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div> 
  <%= yield %> 
<div id="main-container" class="container">
      <div class="row">

        <div id="content" class="col-xs-12">

        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-warning"><%= flash[:alert] %></div>
        <% end %>
      </div>
    </div>
 </div>
</div> <!-- /.main -->
</body>
</html>
